<mat-sidenav-container>
  <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="35">
    <mat-nav-list class="nav-list">
      <a mat-list-item routerLink="todos" style="color: green;font-size: 14px;">
        <i class="bi bi-app"></i>
        Todos
      </a>
      <a mat-list-item routerLink="/atendidos" style="color: royalblue; font-size: 14px;">
        <i class="bi bi-check2-all"></i>
        Atendidos
      </a>
      <a mat-list-item routerLink="/delete/:id" style="color: red; font-size: 14px;">
        <i class="bi bi-trash"></i>
        Lixeira
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>